@model Dish

<h2>Add a Dish!</h2>
<a href = "/dishes">Home</a>
<form asp-action="createDish" asp-controller="Home" method="post">
    <span asp-validation-for="DishName"></span>
    <label asp-for="DishName"></label>
    <input asp-for="DishName"><br>
    <span asp-validation-for="Calories"></span>
    <label asp-for="Calories"></label>
    <input asp-for="Calories"><br>
    <span asp-validation-for="Description"></span>
    <label asp-for="Description"></label>
    <input asp-for="Description"><br>
    <label asp-for="Tastiness"></label>
    <select select asp-for="Tastiness">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select><br>
    <select>
        @{
            foreach (var chef in @ViewBag) {
                <option>@chef.FirstName</option>
            }
        }
    </select>
    <input value="Add Dish" type = "submit">
</form>